<!doctype html>  
<html lang="en">  
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/stylesheets/uikit/uikit.min.css" />
        <link rel="stylesheet" type="text/css" href="public/stylesheets/layouts/main.css">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/root/root.css">
        <script src="public/javascript/uikit/uikit.min.js"></script>
        <script src="public/javascript/uikit/uikit-icons.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    </head>
    <body>
        {{{body}}}
        <button class="uk-button uk-button-secondary" id="root_new_object" uk-toggle="target: #modal-center">AJOUTER</button>    
        <button class="uk-button uk-button-primary" id="root_delete_object" uk-toggle="target: #my-id">SUPPRIMER</button>    
    </body>
</html>  