<!doctype html>  
<html lang="en">  
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/stylesheets/uikit/uikit.min.css" />
        <link rel="stylesheet" type="text/css" href="public/stylesheets/layouts/main.css">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/root/root.css">
        <script src="public/javascript/uikit/uikit.min.js"></script>
        <script src="public/javascript/uikit/uikit-icons.min.js"></script>   
    </head>
    <body>
        {{{body}}}
    </body>
</html>  