#vertical-center-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
#vertical-center-align > :first-child{
    width:100%;
}
#root_new_object{
    position: fixed;
    bottom: 10vh;
    right:20vh;
}