<div id="vertical-center-align">
    <div class="uk-grid-small uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
         {{#each Objets}}
             {{> card/card}}
         {{/each}}
    </div>
   
    <div class="uk-container uk-container-expand">
        {{> popin/popin TypesObjet}}
    </div>
</div>
