<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>           
<script>  
    var socket = io.connect('http://localhost:3002');
    socket.on('messages', function(data) {
        console.log(data);
        $("#message").html(data);
    });
</script>
<div id="vertical-center-align">
    <div class="uk-container uk-container-expand">
        <div class="uk-grid uk-child-width-expand@s uk-text-center " uk-grid>
            <div>
                <div class="uk-card uk-card-primary uk-card-body uk-width-auto@m">
                        <div class="uk-card-badge uk-label">Connecté</div>
                        <h3 class="uk-card-title">Plante</h3>
                        <p>Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div>   
                <div class="uk-card uk-card-default uk-card-body uk-width-auto@m">
                    <div class="uk-card-badge uk-label">Hors-ligne</div>
                    <h3 class="uk-card-title">Maison</h3>
                  
                    <div >
                          <p id="message">Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul uk-tab>
                            <li class="uk-active"><a href="">Temperature</a></li>
                            <li><a href="">Humidité</a></li>
                            <li class="uk"><a>Temperature ressentie</a></li>
                    </ul>     
                       <p class="uk-text-success">17°C</p>
                    </div>
                     
                </div>
                
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body uk-width-auto@m">
                    <div class="uk-card-badge uk-label">Connecté</div>
                    <h3 class="uk-card-title">Aquarium</h3>
                    <p>Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>
