<div id="vertical-center-align">
    <div class="uk-grid-small uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
         {{#each ListeObjets.Objets}}
             {{> card/card }}
         {{/each}}
    </div>
   
    <div class="uk-container uk-container-expand">
        {{> popin/popin ListeTypesObjet}}
    </div>
     {{> pageover/pageover ListeObjets}}
</div>
