<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Ajouter un objet</h2>
        </div>
        <div class="uk-modal-body">
            <form class="uk-form-horizontal uk-margin-large" method="POST" action="/ajouter">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Libellé</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="libelle" id="form-horizontal-text" type="text" placeholder="Some text...">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Type d'objet</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" name="typeObjetCd" id="form-horizontal-select">
                            {{#each TypesObjet}}
                             <option value="{{code}}">{{libelle}}</option>
                             {{/each}}
                        </select>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Identifiant de connexion</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="mqttId" id="form-horizontal-text" type="text" placeholder="AAA-AAA">
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Retour</button>
                    <button class="uk-button uk-button-primary" type="submit">Connexion</button>
                 </div>
            </form>
        </div>
    </div>
</div>