<div>   
    <div class="uk-card uk-card-default uk-card-body uk-width-auto@m">
        <div class="uk-card-badge uk-label">Hors-ligne</div>
        <h3 class="uk-card-title">{{libelle}}</h3>
        <div >
                <p id="message">Identifiant de connexion : {{mqttId}}</p>
        <ul uk-tab>
                <li class="uk-active"><a href="">Temperature</a></li>
                <li><a href="">Humidité</a></li>
                <li class="uk"><a>Temperature ressentie</a></li>
        </ul>     
            <p class="uk-text-success">17°C</p>
        </div>
    </div> 
</div>